* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: end;
}

.watches-list {
  width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 16px;
}

.watches-list li {
  width: 30%;
  text-align: center;
  position: relative;
}

.watches-list li button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 8px;
}



